@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.sis-container {
  padding: 10px 10vw; }
  @media screen and (min-width: 640px) {
    .sis-container {
      padding: 20px 15vw; } }
  @media screen and (min-width: 1024px) {
    .sis-container {
      padding: 20px 15vw; } }
  @media screen and (min-width: 1440px) {
    .sis-container {
      padding: 20px 15vw; } }

ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
  margin: 0; }

.sis-mainBtn {
  background-color: #606a83;
  border: 1px solid #606a83;
  color: #fff;
  padding: 10px 15.5px;
  border-radius: 3px; }

.sis-arrowRight {
  margin-left: 10px;
  width: 20px;
  height: auto; }

.sis-header-container {
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 200; }

.sis-mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .sis-mainLogo img {
    max-width: 150px;
    margin-left: 15px; }
  @media screen and (min-width: 1024px) {
    .sis-mainLogo img {
      max-width: 250px;
      margin: auto; } }

.sis-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  height: 70px;
  position: fixed;
  width: 100vw; }
  @media screen and (min-width: 640px) {
    .sis-header {
      height: 90px;
      -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr; } }

.sis-activeNavScroll {
  background-color: #363840; }
  .sis-activeNavScroll a {
    color: #fff !important; }

.sis-navBotton-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .sis-navBotton-container img {
    max-width: 55px;
    height: auto; }
  @media screen and (min-width: 640px) {
    .sis-navBotton-container {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-right: 50px; } }
  @media screen and (min-width: 1024px) {
    .sis-navBotton-container {
      display: none; } }

.sis-navContent-mobile {
  background: #363840;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  color: #fff;
  width: 80vw;
  height: 100vh;
  position: fixed;
  left: 120%;
  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
  overflow-y: auto;
  top: 70px; }
  @media screen and (min-width: 640px) {
    .sis-navContent-mobile {
      top: 90px;
      width: 60vw; } }
  @media screen and (min-width: 1024px) {
    .sis-navContent-mobile {
      display: none; } }

.sis-toggle-active {
  left: 20%; }
  @media screen and (min-width: 640px) {
    .sis-toggle-active {
      left: 40%; } }

.sis-nav-mobile .sis-navList-mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[8];
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 5px;
  list-style: none;
  padding: 10px 20px 0 0;
  margin: 0 !important;
  width: 100%;
  height: 100%; }

.sis-nav-mobile a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px; }

.sis-nav-mobile li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px #fff solid;
  max-height: 52px; }

.sis-navContent {
  display: none; }
  @media screen and (min-width: 1024px) {
    .sis-navContent {
      display: block; }
      .sis-navContent nav {
        width: 100%;
        height: 100%; }
      .sis-navContent ul {
        list-style: none;
        padding: 0;
        text-decoration: none;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .sis-navContent a {
        color: #fff; } }

.sis-navExtraContent {
  padding-right: 30px;
  padding-left: 5px;
  list-style: none; }
  .sis-navExtraContent li {
    color: #fff;
    font-size: 1.3em;
    margin: 0 0 16px 16px; }
  .sis-navExtraContent .sis-iconsSocial-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }
  .sis-navExtraContent img {
    width: 44px;
    height: 44px; }

.sis-message-container {
  margin-top: 20px;
  font-size: 15px;
  text-align: center; }

.sis-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  max-width: 550px;
  margin: auto; }

.sis-inputText {
  border: white 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 7.5px 10px;
  height: 50px;
  padding: 7.5px 10px; }

.sis-textArea {
  border: white 1px solid;
  border-radius: 5px;
  width: 100%;
  padding: 7.5px 10px;
  max-height: 100px; }

.sis-footer {
  width: 100vw;
  height: auto;
  background-color: #606a83; }

.sis-footer-container {
  padding: 20px 30px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  width: 100%; }
  @media screen and (min-width: 640px) {
    .sis-footer-container {
      max-width: 700px;
      margin: auto; } }
  @media screen and (min-width: 1024px) {
    .sis-footer-container {
      max-width: 850px;
      margin: auto; } }

.sis-footerGSM-container {
  width: 150px;
  height: auto;
  margin: auto; }
  .sis-footerGSM-container img {
    width: 100%;
    height: auto; }

.sis-footerAllCompanies-conatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0 auto; }
  .sis-footerAllCompanies-conatiner a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sis-footerAllCompanies-conatiner img {
    display: inline-block;
    max-width: 66px;
    height: auto; }
  @media screen and (min-width: 640px) {
    .sis-footerAllCompanies-conatiner {
      width: 400px; } }

.sis-border {
  border-top: 0.1px white solid;
  border-bottom: 0.1px white solid;
  padding: 10px 0; }

.sis-socialIcons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto; }
  .sis-socialIcons-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .sis-socialIcons-container img {
    display: inline-block;
    max-width: 33px;
    height: auto; }
  @media screen and (min-width: 640px) {
    .sis-socialIcons-container {
      width: 400px; } }

.sis-contactInfo-container {
  text-align: center;
  color: #fff; }

.sis-footer-nav {
  display: none; }
  @media screen and (min-width: 640px) {
    .sis-footer-nav {
      display: block; }
      .sis-footer-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly; }
      .sis-footer-nav a {
        color: #fff;
        font-size: 14px; } }

.sis-technologiesIcons-container {
  width: 100vw;
  height: auto;
  -webkit-animation: fadeIn 1s 1s forwards;
  animation: fadeIn 1s 1s forwards; }

.integration-list {
  height: 450px;
  display: block;
  position: relative;
  overflow: hidden; }
  .integration-list li {
    max-height: 50px; }
  .integration-list img {
    max-width: 128px;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1); }

.sis-mainBanner-container {
  width: 100%;
  height: 60vh; }
  @media screen and (min-width: 640px) {
    .sis-mainBanner-container {
      height: 100vh; } }

.sis-Banner-container {
  width: 100%;
  height: 100%; }
  .sis-Banner-container .sis-carousel-inner {
    width: 100%;
    height: 100% !important; }
  .sis-Banner-container .sis-img-backgroundGSMX {
    background-position: 35% 0%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url("./../assets/img/slide1@640.jpg") !important; }
    @media screen and (min-width: 640px) {
      .sis-Banner-container .sis-img-backgroundGSMX {
        background-position: center; } }
    @media screen and (min-width: 1024px) {
      .sis-Banner-container .sis-img-backgroundGSMX {
        background-image: url("./../assets/img/slide1@1024.jpg") !important; } }
    @media screen and (min-width: 1440px) {
      .sis-Banner-container .sis-img-backgroundGSMX {
        background-image: url("./../assets/img/slide1@1440.jpg") !important; } }
  .sis-Banner-container .sis-img-backgroundSMX {
    background-position: 35% 0%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url("./../assets/img/slides/slide2@640.jpg") !important;
    background-image: url("./../assets/img/slides/slide2@1440.jpg") !important; }
    @media screen and (min-width: 640px) {
      .sis-Banner-container .sis-img-backgroundSMX {
        background-position: center; } }
    @media screen and (min-width: 1024px) {
      .sis-Banner-container .sis-img-backgroundSMX {
        background-image: url("./../assets/img/slides/slide2@1024.jpg") !important; } }
  .sis-Banner-container .sis-img-backgroundIN {
    background-position: 35% 0%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url("./../assets/img/slides/slide4@640.jpg") !important; }
    @media screen and (min-width: 1024px) {
      .sis-Banner-container .sis-img-backgroundIN {
        background-image: url("./../assets/img/slides/slide4@1024.jpg") !important; } }
    @media screen and (min-width: 1440px) {
      .sis-Banner-container .sis-img-backgroundIN {
        background-image: url("./../assets/img/slides/slide4@1440.jpg") !important; } }
  .sis-Banner-container .sis-img-backgroundSMV {
    background-position: 35% 0%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url("./../assets/img/slides/slide3@640.jpg") !important; }
    @media screen and (min-width: 1024px) {
      .sis-Banner-container .sis-img-backgroundSMV {
        background-image: url("./../assets/img/slides/slide3@1024.jpg") !important; } }
    @media screen and (min-width: 1440px) {
      .sis-Banner-container .sis-img-backgroundSMV {
        background-image: url("./../assets/img/slides/slide3@1440.jpg") !important; } }

.sis-bannerContent-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 35px 0 35px; }
  @media screen and (min-width: 320px) and (max-width: 360px) {
    .sis-bannerContent-flex {
      padding: 90px 35px 0 35px; } }
  @media screen and (min-width: 640px) {
    .sis-bannerContent-flex {
      padding: 0 50px 0 50px; } }
  @media screen and (min-width: 1024px) {
    .sis-bannerContent-flex {
      padding: 0 100px 0 100px; } }

.sis-baContent {
  width: 100%; }

.sis-bannerContent-container {
  color: #fff; }
  .sis-bannerContent-container .sis-iconsServices-banner {
    width: 200px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .sis-bannerContent-container .sis-svgSer-container {
    width: 100%;
    height: auto; }
    .sis-bannerContent-container .sis-svgSer-container p {
      font-size: 10px; }
    .sis-bannerContent-container .sis-svgSer-container img {
      max-width: 50px; }
  .sis-bannerContent-container .sis-h1Banner {
    font-size: 25px;
    max-width: 600px; }
    @media screen and (min-width: 320px) and (max-width: 360px) {
      .sis-bannerContent-container .sis-h1Banner {
        font-size: 18px; } }
    @media screen and (min-width: 640px) {
      .sis-bannerContent-container .sis-h1Banner {
        font-size: 40px;
        margin-bottom: 20px; } }
    @media screen and (min-width: 1024px) {
      .sis-bannerContent-container .sis-h1Banner {
        font-size: 45px; } }
  .sis-bannerContent-container .sis-pBanner {
    font-size: 14px;
    border-left: 4px #787a79 solid;
    padding-left: 15px; }
    @media screen and (min-width: 320px) and (max-width: 360px) {
      .sis-bannerContent-container .sis-pBanner {
        font-size: 14px; } }
    @media screen and (min-width: 640px) {
      .sis-bannerContent-container .sis-pBanner {
        font-size: 18px; } }

.carousel-caption {
  top: 0% !important;
  text-align: left !important;
  padding: 80px 5px 0 5px !important; }
  @media screen and (min-width: 320px) and (max-width: 360px) {
    .carousel-caption {
      padding: 90px 5px 0 5px !important; } }
  @media screen and (min-width: 640px) {
    .carousel-caption {
      padding: 0px 5px 0 5px !important; } }

.sis-empresas-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 25px;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 100;
  padding: 0 10vw; }
  @media screen and (min-width: 640px) {
    .sis-empresas-section {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      top: -200px; } }
  @media screen and (min-width: 1024px) {
    .sis-empresas-section {
      top: -100px;
      margin-bottom: 120px;
      padding: 0 15vw; } }

.sis-relative-card {
  position: relative;
  height: 420px; }
  @media screen and (min-width: 640px) {
    .sis-relative-card {
      height: 300px; } }

.sis-cardContainer {
  width: 100%;
  height: 100%;
  background-color: #606a83;
  padding: 20px;
  margin: 0 auto 0 auto;
  position: absolute; }
  @media screen and (min-width: 640px) {
    .sis-cardContainer {
      top: 0;
      -webkit-transition: top .5s ease-in-out;
      -o-transition: top .5s ease-in-out;
      transition: top .5s ease-in-out; } }
  @media screen and (min-width: 1024px) {
    .sis-cardContainer {
      max-width: 280px;
      max-height: 600px; } }

.sis-empresas-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 15px; }
  .sis-empresas-content figcaption {
    padding: 5px;
    color: #fff; }
  .sis-empresas-content img {
    width: 100%;
    height: auto;
    margin-bottom: 5px; }
  .sis-empresas-content .arrrowBtn {
    width: 50px;
    height: 50px; }
    .sis-empresas-content .arrrowBtn img {
      width: 50px;
      height: 50px; }
  @media screen and (min-width: 640px) {
    .sis-empresas-content {
      width: 90%;
      height: 100%;
      margin: auto;
      display: -ms-grid;
      display: grid;
      grid-row-gap: 15px; }
      .sis-empresas-content figcaption {
        padding: 5px;
        color: #fff;
        font-size: 12px; }
      .sis-empresas-content img {
        width: 100%;
        height: auto;
        margin-bottom: 5px; }
      .sis-empresas-content .arrrowBtn {
        width: 50px;
        height: 50px; }
        .sis-empresas-content .arrrowBtn img {
          width: 50px;
          height: 50px; } }

@media screen and (min-width: 640px) {
  .sis-backgroundSMX-active {
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0);
    top: -100px;
    background-color: #1B2B4F; } }

@media screen and (min-width: 640px) {
  .sis-backgroundIN-active {
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0);
    top: -100px;
    background-color: #BC2C2C; } }

@media screen and (min-width: 640px) {
  .sis-backgroundSMV-active {
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0);
    top: -100px;
    background-color: #309900; } }

.sis-mainSec-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding: 0; }
  @media screen and (min-width: 640px) {
    .sis-mainSec-section {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      padding: 0 10vw; } }
  @media screen and (min-width: 1024px) {
    .sis-mainSec-section {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      padding: 0 10vw; } }

.sis-mainSecImg-container {
  width: 100%;
  height: 100%; }
  .sis-mainSecImg-container img {
    max-width: 100%; }
  @media screen and (min-width: 640px) {
    .sis-mainSecImg-container {
      position: relative;
      z-index: 0;
      border-radius: 50%;
      top: 0; }
      .sis-mainSecImg-container img {
        border-radius: 50%; } }
  @media screen and (min-width: 1024px) {
    .sis-mainSecImg-container {
      position: relative;
      top: -30%; } }

.sis-mainSec-content {
  padding: 20px 30px; }

.sis-divices-container {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("./../assets/img/bg_circular@640-1.jpg");
  background-size: cover; }
  @media screen and (min-width: 1024px) {
    .sis-divices-container {
      background-image: url("./../assets/img/bg_circular@1024-1.jpg"); } }
  @media screen and (min-width: 1440px) {
    .sis-divices-container {
      background-image: url("./../assets/img/bg_circular@1440-1.jpg"); } }

.sis-divices-img {
  width: 80vw;
  height: auto; }
  .sis-divices-img img {
    width: 100%;
    height: auto;
    margin: auto; }
  @media screen and (min-width: 640px) {
    .sis-divices-img {
      max-width: 550px; } }
  @media screen and (min-width: 1024px) {
    .sis-divices-img {
      max-width: 750px; } }
  @media screen and (min-width: 1440px) {
    .sis-divices-img {
      max-width: 1050px; } }

.sis-technologies-container {
  width: 100vw;
  height: auto;
  background-color: #737e94;
  color: white; }

.sis-technologies-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 30px;
  text-align: center;
  max-width: 550px; }
  .sis-technologies-content h3 {
    font-size: 45px; }
  .sis-technologies-content p {
    font-size: 18px; }

.sis-clientes-container {
  width: 100vw;
  height: auto;
  background-color: #737e94; }

.sis-cliente-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 550px;
  padding: 20px 30px;
  margin: auto;
  color: white; }
  .sis-cliente-content h3 {
    font-size: 40px; }
  .sis-cliente-content p {
    font-size: 18px; }

.sis-line-container {
  width: 20px;
  height: 1px;
  display: none; }

.sis-clientes-line {
  background-color: white !important;
  width: 100% !important;
  margin: 0;
  display: none; }

.sis-allClients-container {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 600px;
  margin: auto; }
  @media screen and (min-width: 640px) {
    .sis-allClients-container {
      -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr); } }
  @media screen and (min-width: 1024px) {
    .sis-allClients-container {
      max-width: 850px;
      -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr); } }
  @media screen and (min-width: 1440px) {
    .sis-allClients-container {
      max-width: 950px;
      -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr); } }

.sis-clientIcon-container {
  max-width: 55px;
  height: auto;
  margin: auto; }
  .sis-clientIcon-container img {
    width: 100%;
    height: auto; }
  @media screen and (min-width: 1024px) {
    .sis-clientIcon-container {
      max-width: 72px; } }

.sis-hei {
  max-width: 40px; }

.sis-contactanos-section {
  width: 100vw;
  height: auto;
  background-color: #737e94; }

.sis-contactanos-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 20px 30px;
  color: white; }
  .sis-contactanos-container h2 {
    font-size: 40px; }
  .sis-contactanos-container p {
    font-size: 18px;
    margin-bottom: 20px; }

body {
  margin: 0;
  overflow-x: hidden; }

* {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none !important; }

.sis-contactUs-button {
  width: 200px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  background-color: #737e94;
  color: white;
  position: fixed;
  top: 25vh;
  left: calc(100vw - 200px);
  z-index: 2000;
  margin: auto 0;
  border-radius: 5px;
  padding: 7.5px 5px; }
  .sis-contactUs-button .sis-ContactUs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .sis-contactUs-button .sis-ContactUs img {
      width: 100%;
      margin-top: auto; }
    .sis-contactUs-button .sis-ContactUs p {
      margin: 0; }
